@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-light-grey: #aaadc4;
  --bg-dark-grey: #8d909b;
  --bg-light-green: #6a7062;
  --bg-dark-green: #3e442b;
  --bg-button-light-blue: #d6eeff;
  --bg-button-medium-blue: #a5d1ff;

  --accent-border-light: #b7bad1; /* Lighter version of light grey */
  --accent-border-dark: #7a7e87; /* Darker version of dark grey */
  --accent-highlight: #9fa786; /* Midtone between light and dark green */
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(to bottom right, var(--bg-light-green), var(--bg-dark-green));
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 90px;
  color: white;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: white;
  letter-spacing: 1px;
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
  max-width: 800px;
}
.rating-label {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
  margin-bottom: 5px;
}
.container-responsive-image {
  height: 100%;
  position: relative;
  overflow: hidden;
  flex: 7;
}
.responsive-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hero {
  width: 100%;
  height: 25vh; /* Initial height */
  position:fixed; /* Change from relative to sticky */
  top: 0; /* Stick to top of viewport */
  z-index: 1; /* Ensure it stays above other content */
  background-image: url("../static/hero_backdrop.jpg");
  background-size: cover;
  background-position-y: 62%;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  border-bottom: solid var(--accent-border-light) 3px;
}

/* Add a class for the scrolled state */
.hero-scrolled {
  font-size: small;
  height: 10vh; /* Smaller height when scrolled */
}
.hero-container {
  margin: 0;
    width: 100%;
    height: 25vh; 
}
.blur-bg {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.form-container {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom right, var(--bg-light-green), var(--bg-dark-green));
  border: 2px solid var(--accent-border-light);
  position: relative;
}

.form-field {
  margin-top: 5px;
  padding: 3px;
  border: 2px solid var(--bg-dark-green);
}

.form-label {
  font-family: "Roboto", sans-serif;
  color : white;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 300px);
}
.top-left {
  position: absolute;
  top:10px;
  left: 20px;
}
.top-right {
  position: absolute;
  top: 10px;
  right: 20px;
}
.top-center {
  position: absolute;
  top: 0;
}
.button:hover {
  background-color: var(--bg-button-medium-blue);
}
.button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--bg-button-light-blue);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: background-color 0.2s ease-in-out;
}
.button-close {
  padding: 5px;
  height: fit-content;
  width: fit-content;
  opacity: .3;
  border: solid 2px var(--accent-border-light);
  border-radius: 100%;
  background-color: var(--bg-dark-grey);
  transition: opacity, background-color 0.2s ease-in-out;
}
.button-close:hover {
  opacity: .5;
  background-color: var(--bg-light-grey);
}
.button-large {
  width: 30%;
  height: 10%;
}
.button-medium {
  width: 20%;
  height: 6%;
}
.button-small {
  width: 10%;
  height: 3%;
}
.button-xsmall {
  width: 4%;
}
.fit {
  width: fit-content;
  height: fit-content;
}

.background-primary {
  background: linear-gradient(to bottom right, var(--bg-light-green), var(--bg-dark-green));
}
.background-secondary {
  background: linear-gradient(to bottom, var(--bg-light-grey), var(--bg-light-green));
}
.background-secondary-flat {
  background: var(--bg-light-grey);
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-gap-xxl {
  gap: 5vh;
}
.flex-gap-xl {
  gap: 3vh;
}
.flex-gap-lg {
  gap: 2vh;
}
.flex-gap-md {
  gap: 1vh;
}
.flex-gap-sm {
  gap: 0.5vh;
}
.flex-5 {
  flex: 5 0 0%;
}
.flex-6 {
  flex: 6 0 0%;
}
.flex-7 {
  flex: 7 0 0%;
}
.flex-8 {
  flex: 8 0 0%;
}
.flex-9 {
  flex: 9 0 0%;
}
.flex-3 {
  flex: 3 0 0%;
}
.flex-4 {
  flex: 4 0 0%;
}
.flex-2 {
  flex:2 0 0%;
}
.flex-1 {
  flex: 1  0 0%;
}
.width-full-screen {
  width: 100vw;
  height: fit-content;
}
.width-100 {
  width: 100%;
}
.height-100 {
  height: 100%;
}
.r-container-xlarge {
  width: 100vw;
  height: 50vh;
}
.r-container-large {
  width: 60vw;
  height: 50vh;
}
.r-container-medium {
  width: 50vw;
  height: 40vh;
}
.r-container-small {
  width: 25vw;
  height: 12vh;
}
.r-container-xsmall {
  width: 10vw;
  height: 5vh;
}
.s-container-xlarge {
  width: 100vw;
  height: 100vh;
}
.s-container-large {
  width: 75vw;
  height: 75vh;
}
.s-container-medium {
  width: 50vw;
  height: 50vh;
}
.s-container-small {
  width: 25vw;
  height: 25vh;
}
.s-container-xsmall {
  width: 10vw;
  height: 10vh;
}
.text-container {
  width: 40vw;
  height: fit-content;
}
.interactive-text {
  padding: 4px;
  transition: font-size 0.5s ease-in;
}
.interactive-text:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  font-size: xlarge;
}
.card {
  border: 3px solid var(--accent-border-dark);
  border-radius: 5px;
  transition: box-shadow, scale 0.5s ease-in-out;
}

.card:hover {
  box-shadow: 2px 2px 4px black;
  scale: 102%;
}
.padding-lg {
  padding: 5vw;
}
.padding-md {
  padding:3vw;
}
.padding-sm {
  padding:1vw;
}
.comment-container {
  height: fit-content;
  padding: 5px;
  position: relative;
  border-bottom: solid var(--accent-border-light) 2px;
}
.comment-timestamp {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: white;
  opacity: 0.5;
  margin-top: 5px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.comment-body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: white;
  margin-top: 30px;
  margin-left: 50px;
}