{% include 'svgs/svgs.html' %}
{% macro render_campsite(campsite) %}
<div class="flex-col width-100 height-100 card">
    <div class="flex-8" style="background-image: url('{{campsite.filepaths[0]}}'); background-position: center;">
        <div class="flex-row flex-gap-sm">
            {% for star in range(campsite.overall_score | int) %}
                <svg width="25px" height="25px">
                    <use href="#star-filled" />
                </svg>
            {% endfor %}
            {% for empty_star in range(10 - campsite.overall_score | int) %}
            <svg width="25px" height="25px">
                <use href="#star-empty" />
            </svg>
            {%endfor%}
        </div>
    </div>
    <div class="flex-2 background-primary">
        <p>{{campsite.area['name']}}</p>
        
    </div>
</div>
{% endmacro %}