{%from "macros/card_macros.html" import render_campsite %}
{% extends "./partials/base.html" %}
{% block title %}Camping Registry{%endblock%}
{% block content %}
<div class="flex-col flex-center width-full-screen">
    {% if highest_rated_campsites_by_overall | length >= 5 %}
    <div class="flex-col flex-center width-full-screen background-secondary padding-lg">
        <div class="flex-row flex-gap-sm r-container-large">
            <div class="flex flex-4">
                {{ render_campsite(highest_rated_campsites_by_overall[0]) }}
            </div>
            <div class="flex-col flex-gap-md flex-6">
                <div class="flex-row flex-gap-sm flex-5">
                    <div class="flex width-100 height-100">
                        {{ render_campsite(highest_rated_campsites_by_overall[1]) }}
                    </div>
                    <div class="flex width-100 height-100">
                        {{ render_campsite(highest_rated_campsites_by_overall[2]) }}
                    </div>
                </div>
                <div class="flex-row flex-gap-sm flex-5">
                    <div class="flex width-100 height-100">
                        {{ render_campsite(highest_rated_campsites_by_overall[3]) }}
                    </div>
                    <div class="flex width-100 height-100">
                        {{ render_campsite(highest_rated_campsites_by_overall[4]) }}
                    </div>
                </div>

            </div>

        </div>
    </div>
    {% endif %}
    {% if not current_user.is_authenticated %}
    <div class="flex-col flex-center width-full-screen" style="margin-top: 3rem;">
        <h2>Find Your Perfect Outdoor Getaway</h1>
            <div class="flex-row flex-gap-xxl flex-center">
                <div class="text-container">
                    <p class="interactive-text">
                        Camping Registry connects outdoor enthusiasts with top camping spots nationwide. Find adventures
                        through our simple interface highlighting nature's best locations.
                    </p>
                    <p class="interactive-text">
                        Filter sites by electrical hookups, restrooms, showers, or budget options to efficiently plan
                        your perfect outdoor escape with our comprehensive database.
                    </p>
                    <p class="interactive-text">
                        Listings show fees, coordinates, and ratings for cleanliness, accessibility, quietness,
                        activities, amenities, and value—all based on genuine camper experiences.
                    </p>
                </div>
                <div class="text-container">
                    <p class="interactive-text">
                        Browse user photos for accurate site previews and read honest reviews to make informed
                        decisions, avoid disappointments, and discover hidden natural treasures.
                    </p>
                    <p class="interactive-text">
                        Save favorites for quick access or share new discoveries by creating listings—Camping Registry
                        simplifies contributing locations and maintaining your personal collection.
                    </p>
                    <p class="interactive-text">
                        Explore areas nearby or at dream destinations for weekend trips or extended journeys. Connect
                        with nature alongside thousands discovering remarkable camping sites.
                    </p>
                </div>
            </div>

    </div>
    {%else%}
    <div class="flex-col flex-gap-lg">
        <div class="flex-row width-full-screen">
        <div class="form-container height-100 padding-md flex-col flex-gap-md flex-5">
            <h2>Find Your Perfect Campsite.</h2>

            <div class="flex-row flex-gap-md">
                <select id="search-type" class="form-field flex-3">
                    <option value="city">City</option>
                    <option value="state">State</option>
                    <option value="zip">Zip Code</option>
                    <option value="county">County</option>
                </select>

                <input type="text" id="search-term" placeholder="Enter location..." class="form-field flex-7">

                <button type="submit" class="button fit" onclick="searchCampsites()">Search</button>
            </div>
        </div>
        <div class="flex-col flex-gap-lg" id="search-sites-container">
            
        </div>
        <div class="background-secondary flex-5 flex-col flex-center flex-gap-lg">
            <div class="form-container flex flex-center background-primary flex-1 width-100">
                <h2 class="">Your Created Campsites.</h2>
            </div>
            <div class="background-secondary flex-9 grid flex-gap-lg padding-sm">
                {% for site in user_created_campsites %}
                <div class="grid-item">
                    {{render_campsite(site)}}
                </div>

                {% endfor %}
            </div>
        </div>

    </div>
    </div>
    
    {%endif%}
</div>
<script>
    const searchTypeEl = document.getElementById("search-type");
    const searchTermEl = document.getElementById("search-term");
    const searchSitesContainer = document.getElementById("search-sites-container");

    async function searchCampsites()
    {
        if (searchSitesContainer === null) return;
        const searchTypeVal = searchTypeEl ? searchTypeEl.value : null;
        const searchTermVal = searchTermEl ? searchTermEl.value : null;

        const response = await fetch(`/search-by-location?search-type=${searchTypeVal}&search-term=${searchTermVal}`,
            {
                method: "GET",
            }
        );

        const data = await response.json();

        if (!data || data["count"] < 1)
        {
            searchSitesContainer.innerHTML = `<h2>No campsites found under location ${searchTypeVal} ${searchTermVal}</h2>`
            return;
        }

        const campsites = data["campsites"];

        const grid = document.createElement('div');
        grid.style = "grid flex-gap-lg";
        campsites.forEach(function(campsite) {
            let newCard = buildCampsiteCard(campsite);
            grid.appendChild(newCard);
        });


        


    }
    function buildCampsiteCard(campsite)
    {
        const newCard = document.createElement("div");
        newCard.className = "flex-col width-100 height-100 card";

        const avgStarRatingEl = buildCampsiteStars(Math.round(campsite['overall_score']));
    
        newCard.innerHTML = `
        <div class="flex-8" style="background-image: url('${campsite["filepaths"][0]}'); background-position: center;">
        </div>
        <div class="flex-2 background-primary">
            <p>${campsite["area"]["name"]}</p>
            <div class="flex-row flex-gap-sm">
                ${avgStarRatingEl.outerHTML}
            </div>
        </div>
        `;
        return newCard;
    }
    function buildCampsiteStars(rating)
    {
        const filledStarSvgHTML = `<svg width="25px" height="25px">
                        <use href="#star-filled" />
                    </svg>`;
        const emptyStarSvgHTML = `
        <svg width="25px" height="25px">
                        <use href="#star-empty" />
                    </svg>` ;

        const ratingContainer = document.createElement("div");
        ratingContainer.className = "flex-row flex-gap-sm";
        for (let i = 0; i < rating; i++)
        {
            ratingContainer.innerHTML += filledStarSvgHTML;
        }
        for (let i = 0; i < 10-rating; i++)
        {
            ratingContainer.innerHTML += emptyStarSvgHTML;
        }
        return ratingContainer;
    }
</script>
{%endblock%}